.home-wrapper {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    & img {
        /* width: 60%; */
        /* max-width: 60%; */
        height: 95vh;
        position: fixed;
        /* height: 100%; */
    }
}

.home-info {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    justify-content: center;
    padding: 90px 0px;
    margin-left: 50%;
    width: 45%;
    /* padding-top: 150px; */
    & h2 {
        padding-bottom: 35px;
    }
    & p {
        font-size: 1rem;
    }
    & ul {
        padding: 10px 20px;
    }
    & li {
        font-size: 1rem;
    }
    & span {
        font-weight: bold;
        /* text-decoration: underline; */
    }
}