.book-card {
    background:rgba(243, 240, 230, .6);
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 230px;
    height: 380px;
    border-radius: 10px;
    & img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0 0;

    }
    & h3 {
        font-size: 1.1rem;
        font-weight: 400;
        padding: 10px 5px 5px 5px;
    }
    & p {
        font-size: .7rem;
        padding-left: 5px
    }
}

.card:hover {
    transform: scale(.95);
}