.navbar {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  & .search-form{
    width: 50%;
  }
  /* & .navlinks{
    width: 15%;
    display: flex;
    justify-content: space-between;
  } */
}