.navbar {
  padding: 25px 15px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #562100;
  & h1 {
    padding-right: 10px;
    color: white;
    font-family: "Gentium Book Plus", serif;
    font-size: 2.5rem;
  }
}